<div class="w-100 my-5">
    <div class="card-body"></div>
    <h1 class="card-title text-center">Lista de Usuários</h1>
    <button class="btn btn-success mb-4 float-end" routerLink="/form">
        Cadastro Novo
    </button>
    <table class="table">
        <thead>
            <tr>
                <th>id</th>
                <th>nome</th>
                <th>sobrenome</th>
                <th>idade</th>
                <th>profissão</th>
                <th colspan="2"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.id}}</td>
                <td>{{user.nome}}</td>
                <td>{{user.sobrenome}}</td>
                <td>{{user.idade}}</td>
                <td>{{user.profissao}}</td>
                <td>
                    <button class="btn btn-primary">Eitar</button>
                </td>
                <td>
                    <button class="btn btn-danger">Excluir</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
